# Archivos de entorno
config/
.env

# Archivos de compilación de Python
__pycache__/
*.pyc
*.pyo

config/__pycache__/
*.pyc
*.pyo

data/__pycache__/
*.pyc
*.pyo

ftp/__pycache__/
*.pyc
*.pyo

# Configuración de entornos virtuales
venv/
.env/

# Archivos de logs
*.log
